$backgroundColor: #eeeeee;
$headerColor: #25313f;
$whiteBg: white;
$primaryBlack: #222;
$menuBg: #8ddc97;
$lightBlack: #666;
$footerBg: #e0e1e1;
$fontMed: normal normal 700 16px/20px Quicksand;
$fontMedSmall: normal normal 700 14px/18px Quicksand;