
@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/static/Quicksand-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/static/Quicksand-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/static/Quicksand-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/static/Quicksand-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: QuickSand;
    src: url(./Quicksand/Quicksand\ font\ 1/static/Quicksand-Light.ttf);
    font-weight:lighter;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: QuickSand;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

.main{
 box-sizing: border-box;
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main .header{
    width: 100%;
    height: 56px;
    background: url('./header\ pattern\ image.png'); 
}

.main .header svg{
    margin: 11px 0 0 24px ;
height: 36px;
}


.login-header{
    background: transparent url('./header\ pattern\ image.png') 0% 0% no-repeat padding-box;
mix-blend-mode: overlay;
    width: 100vw;
    height: 10rem;
}
.container {
display: flex;
justify-content: center;
}

.container .card{
    margin-top: 50px;
    width: 488px;
    min-height: 550px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
    /* position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    border-top: 4px solid #3AC7EC;
    border-radius: 2px 2px 0px 0px;
}

input:focus{
    outline: none;
}

.title{
  display: flex;
  margin-left: 32px;
    margin-top: 22px;
    margin-bottom: 34px;
}

.login{
    text-align: center;
font: normal normal 700 24px/28px QuickSand;
letter-spacing: 0px;
color: #222222;
margin-left: auto;
margin-right: auto;
}

.radios{
  display: flex;
  margin-left: 32px;
  margin-bottom: 20px;
}

.radios img{
    margin: 8px;
}

.radios span{
    color: #333333;
    font: normal normal 700 16px/20px QuickSand;
    align-items: center;
    margin-right: 32px;
}

.boxx{
    display: flex;
    align-items: center;
}

.inputt{
    margin-left: 32px;
    margin-right: 32px;
}

.label{
    font: normal normal 700 12px/16px Quicksand;
    color: #666666;
}

.vale{
    font: normal normal 700 16px/20px Quicksand;
    color: #222222;
}

.sub-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-select{
    width: 100%;
}

select{
    border: 0;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    background-image: url("./icons/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center; 
  background-position: calc(100% - 6px) center;
    font: normal normal 700 16px/20px Quicksand;
    color: #222222;
}

.linee{
    margin-top: 4px;
    background: #000000 0% 0% no-repeat padding-box;
    height: 1px;
    opacity: 0.12;
}

.username{
  margin-top: 56px;
} 

.username-label{
    font: normal normal 700 16px/20px Quicksand;
    color: #666666;
    width: 100%;
    border: none;
}

.inner-text{
    font: normal normal 700 14px/18px Quicksand;
    color: #1F7A54;
    text-transform: uppercase;
}

.sub-question{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.pwd{
    display: flex;
    justify-content: space-between;
}

.password{
    margin-top: 33px;
}

.remember{
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.remember-label{
    font: normal normal 700 16px/20px Quicksand;
    color: #222222;
}

.btn{
    background: #3FD28B 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 5px #0000003D;
margin-left: auto;
margin-right: auto;
width: 216px;
height: 40px;
margin-top: 14px;
margin-bottom: 20px;
}

.btn span{
    font: normal normal 700 14px/18px Quicksand;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2834;
    height: 40px;
}

.btm-text
{
    top: 92%;
    left: 45%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

.btm-text span{
    margin: 3px;
    font: normal normal 700 14px/18px Quicksand;
    color: #1F7A54;
}

.fone {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 16px;
    background: #EEEEEE;
}

.fone a{
    font: normal normal 700 14px/18px QuickSand;
    color: #1F7A54;
    text-decoration: none;
}

.fone a:first-child{
    border-right: 2px solid #0000001F;
    padding-right: 8px;
}
.fone a:last-child{
    padding-left: 8px;
}

.fsecinn {
    display: flex;
    justify-content: center;
    align-items: center;  
     background: #E0E1E1;
}


.fsecinn svg{ 
    padding-right: 16px;
}
/* .fsecinn p{
    border-left: 1px solid rgb(132, 129, 129);
    padding-left: 16px;
    color: #616161;
    font-size: 12px;
} */
.fsecinn p .special{
    font-family: QuickSand;
}

.fsecond {
    height: 40px;
}

.footer{
    margin-top: auto;
}

.fsecinn p{
    font: normal normal 700 12px/16px QuickSand;
    color: #616161;
}

